* {
    margin: 0;
}
header {
    position: relative;
}
.header_item {
    display: inline-block;
}
.header_avatar {
    margin: 50px;
}
.avatar {
    border: 3px solid rgb(50, 175, 178);
    border-radius: 50%;
}
.header_name {
    margin: 50px;
    position: absolute;
    left: 400px;

}
.name {
    color: rgb(50, 175, 178);
    font-size: 48px;
}
.job {
    margin-top: 30px;
    font-size: 32px;
}
.navbar_list {
    margin: 30px 0;
}
.navbar_list-item {
display: inline-block;
margin: 0 30px;
}

.navbar_list-item-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.navbar_list-item-link:hover {
    color: rgb(50, 175, 178);
}