* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 22px;
    line-height: 28px;
    background-color: rgb(50, 175, 178);
}

h3 {
    font-size: 24px;
}

p {
    margin: 12px 0;
}

section {
    margin: 50px;  
}

.container {
    min-height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header_navbar {
    border-bottom: 1px solid rgb(50, 175, 178);
    margin: 0 50px;
}

.header_navbar_list {
    margin: 20px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.header_navbar_list-item {
    margin: 0 20px;
}

.header_navbar_list-item-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.header_navbar_list-item-link:hover {
    color: rgb(50, 175, 178);
}

.header_main-part {
    display: flex;
}

.header_avatar {
    border: 3px solid rgb(50, 175, 178);
    border-radius: 50%;
    width: 300px;
    margin: 50px 50px 20px;
}
.header_text {
    margin: 90px 60px 0;
}

.name {
    color: rgb(50, 175, 178);
    font-size: 48px;
}
.job {
    margin-top: 30px;
    font-size: 32px;
}

.main {
    flex: 1 1 auto;
}

.section_title {
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(50, 175, 178);
    padding-bottom: 20px;
}

.contact_list {
    list-style-type: none;
    padding-left: 0;
}

.list-item_margin {
    margin: 10px 0;
}

.contact_list-item-link {
    text-decoration: none;
    color: rgb(50, 175, 178);
}

.code {
    font-size: 18px;
}

.code-example_text, 
.code-example_list {
    margin-bottom: 20px;
}

.projects_text {
    margin-bottom: 30px;
}

.footer {
    border-top: 1px solid rgb(50, 175, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 20px 60px 0;
}

.github_logo {
    width: 123px;
}

.footer_text {
    align-self: center;
}

.rs_logo {
    width: 150px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.red {
    color: red;
    font-size: 18px;
}

.blue {
    color: blue;
    font-size: 18px;
}

.purple {
    color: purple;
    font-size: 18px;
}

.gray {
    color: gray;
    font-size: 18px;
}



